<div class="sidenav-header">
  @if(user) { @if(sidNavCollapsed()) {
  <button mat-icon-button (click)="logout()">
    <mat-icon color="primary">logout</mat-icon>
    <p class="colorBlue username">{{ user.username }}</p>
  </button>
  } @else {
  <h3>Welkom</h3>
  <h5>{{ user.username }}</h5>
  <button mat-flat-button color="primary" type="submit" (click)="logout()">
    Uitloggen
  </button>
  } } @else {@if(sidNavCollapsed()) {
  <button mat-icon-button (click)="login()">
    <mat-icon color="primary">login</mat-icon>
  </button>
  } @else {
  <h3>Welkom</h3>
  <button mat-flat-button color="primary" type="submit" (click)="login()">
    Inloggen
  </button>
  } }
</div>
<hr />
<mat-nav-list>
  <a
    mat-list-item
    [routerLink]="['/nieuws']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      [fontSet]="
        router.isActive('/nieuws', true)
          ? 'material-icons'
          : 'material-icons-outlined'
      "
      matListItemIcon
      >announcement</mat-icon
    >
    @if(!sidNavCollapsed()) {
    <span matListItemTitle>Nieuws</span>
    }
  </a>
  <a
    mat-list-item
    [routerLink]="['/mijncomments']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      [fontSet]="
        router.isActive('/mijncomments', true)
          ? 'material-icons'
          : 'material-icons-outlined'
      "
      matListItemIcon
      >forum</mat-icon
    >
    @if(!sidNavCollapsed()) {
    <span matListItemTitle>Mijn Reacties</span>
    }
  </a>
  @if(user?.role == 'editor') {
  <hr />
  <a
    mat-list-item
    [routerLink]="['/berichtaanmaken']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      [fontSet]="
        router.isActive('/berichtaanmaken', true)
          ? 'material-icons'
          : 'material-icons-outlined'
      "
      matListItemIcon
      >chat</mat-icon
    >
    @if(!sidNavCollapsed()) {
    <span matListItemTitle>Bericht Aanmaken</span>
    }
  </a>
  <a
    mat-list-item
    [routerLink]="['/mijnconcepten']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      [fontSet]="
        router.isActive('/mijnconcepten', true)
          ? 'material-icons'
          : 'material-icons-outlined'
      "
      matListItemIcon
      >create</mat-icon
    >
    @if(!sidNavCollapsed()) {
    <span matListItemTitle>Mijn Concepten</span>
    }
  </a>
  <a
    mat-list-item
    [routerLink]="['/mijningediendeberichten']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      [fontSet]="
        router.isActive('/mijningediendeberichten', true)
          ? 'material-icons'
          : 'material-icons-outlined'
      "
      matListItemIcon
      >send</mat-icon
    >
    @if(!sidNavCollapsed()) {
    <span matListItemTitle>Mijn Ingediende Berichten</span>
    }
  </a>
  <hr />
  <a
    mat-list-item
    [routerLink]="['/berichtengoedkeuren']"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      [fontSet]="
        router.isActive('/berichtengoedkeuren', true)
          ? 'material-icons'
          : 'material-icons-outlined'
      "
      matListItemIcon
      >done</mat-icon
    >
    @if(!sidNavCollapsed()) {
    <span matListItemTitle>Berichten Goedkeuren</span>
    }
  </a>
  }
</mat-nav-list>
