:host * {
  transition: all 500ms ease-in-out;
}
.sidenav-header {
  padding-top: 24px;
  text-align: center;
}

.sidenav-header h3 {
  margin-bottom: 0;
}

.sidenav-header h5 {
  color: rgb(114, 114, 255);
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.colorBlue {
  color: rgb(114, 114, 255);
}
.username {
  font-size: small;
  margin-left: -5px;
}
