@if(post != null){
<div class="AddPostWindow">
  <mat-card class="post">
    <mat-card-header>
      <mat-card-title><h2>Concept Bewerken</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #postForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Titel:</mat-label>
          <input
            matInput
            name="title"
            placeholder="Titel"
            [(ngModel)]="post.title"
            required
            #title="ngModel"
          />
          @if (title.invalid && title.dirty || title.touched) {
          <mat-error>Titel is verplicht</mat-error>
          }
        </mat-form-field>
        <span class="spacer"></span>
        <mat-form-field appearance="fill">
          <mat-label>Bericht</mat-label>
          <textarea
            matInput
            name="content"
            placeholder="Bericht"
            [(ngModel)]="post.content"
            required
            #content="ngModel"
          ></textarea>

          @if(content.invalid && content.dirty || content.touched) {
          <mat-error>Bericht is verplicht</mat-error>
          }
        </mat-form-field>
        <span class="spacer"></span>

        <div class="buttonRow">
          <button
            mat-flat-button
            type="submit"
            class="submitbutton"
            [disabled]="postForm.invalid"
            (click)="onSubmit()"
          >
            Indienen
          </button>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="postForm.invalid"
            (click)="onSave()"
          >
            Opslaan
          </button>
        </div>

        <span class="spacer"></span>
        @if(errorMessage != ""){
        <mat-error>{{ errorMessage }}</mat-error>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
}@else {
<p>Geen bericht gevonden</p>
}
