@if(post != null){
<div>
  <button mat-fab aria-label="Terug" class="backgroundcolor" (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="PostWindow">
  <mat-card class="post">
    <div
      class="floatingdiv"
      [ngClass]="{
        approved: post.state === 'APPROVED',
        rejected: post.state === 'REJECTED',
        submitted: post.state === 'SUBMITTED',
        published: post.state === 'PUBLISHED'
      }"
    >
      <p>{{ post.author }}</p>
    </div>
    <mat-card-header>
      <mat-card-title
        ><h2>{{ post.title }}</h2></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="form">
        <mat-card-subtitle>
          <mat-icon>calendar_today</mat-icon>
          {{ post.publicationDate | date : "dd MMMM yyyy" }}
          <mat-icon>access_time</mat-icon>
          {{ post.publicationDate | date : "HH:mm" }}
        </mat-card-subtitle>
        <div class="spacer"></div>
        <p class="content">{{ post.content }}</p>

        <span class="spacer"></span>
        @if(errorMessage != ""){
        <mat-error>{{ errorMessage }}</mat-error>
        }
      </div>
      <div class="spacer"></div>
      <div class="comments">
        <h2 class="commentsTitle">Reacties</h2>
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="commentsfield">
            <mat-label>Reactie</mat-label>
            <textarea
              matInput
              formControlName="comment"
              placeholder="Reactie"
              required
            ></textarea>
            <mat-error
              *ngIf="
                commentForm.controls['comment'].invalid &&
                commentForm.controls['comment'].dirty
              "
              >Reactie is verplicht</mat-error
            >
          </mat-form-field>
          <button
            class="commentButton"
            mat-flat-button
            type="submit"
            [disabled]="commentForm.invalid"
          >
            Reactie plaatsen
          </button>
        </form>
        <div class="spacer"></div>
        @if(post.comments.length > 0){ @for (comment of post.comments; track
        comment.id) {
        <mat-card class="comment">
          <mat-card-header>
            <mat-card-title
              ><h2>{{ comment.author }}</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <mat-icon>calendar_today</mat-icon>
              {{ comment.creationDate | date : "dd MMMM yyyy" }}
              <mat-icon>access_time</mat-icon>
              {{ comment.creationDate | date : "HH:mm" }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ comment.comment }}</p>
          </mat-card-content>
        </mat-card>
        } }@else {
        <p class="nocomments">Geen reacties gevonden</p>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>

}@else {
<p>Geen bericht gevonden</p>
}
