/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(212, 78, 161),
    rgb(56, 99, 216)
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
