/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(3, 236, 147),
    rgb(128, 113, 192),
    rgb(202, 77, 240)
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
